[Unit]
Description=Override kdeconnect service
After=network-online.service

[Service]
Restart=on-failure
Environment=PATH="/usr/bin:$PATH"
ExecStart=/home/lucas/.kdeconnect.sh

[Install]
WantedBy=default.target
